.share-buttons {
  a:hover {
    text-decoration: none;
  }

  .shareit-facebook-colors {
    background: #3B5998;
    color: #fff;
  }

  .shareit-twitter-colors {
    background: #4099FF;
    color: #fff;
  }

  .shareit-googleplus-colors {
    color: #fff;
    background: #D34836;
  }

  .shareit-pinterest-colors {
    color: #fff;
    background: #D34836;
  }
  .mui-btn.share {
    width: 26px!important;
    height: 26px!important;
    background-color: #4488E1;
    &:hover, a:visited, &:focus {
      background-color: #4488E1;
    }
    font-size: 15px;
    span.icon {
      position: relative;
      top: -5px;
    }
  }

}
